@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  font-size: 10px;
  --bgc: #f7f8f9;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.85);
  --dark: rgba(0, 0, 0, 0.5);
  --light-purple: #666; /* rgb(172, 82, 242) */
  --secondary: #333 !important; /* rgb(172, 82, 242) */
  --dark-purple: #444; /* rgb(92, 15, 197) */
  --grd: linear-gradient(-10deg, var(--dark-purple), var(--light-purple));
}
html,
body {
  width: 100%;
  background-color: var(--bgc);
}
.box {
  width: 100%;
  max-width: 1350px;
  padding: 0 2.5rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
.grd-btn {
  font-size: 1.5rem;
  color: var(--white);
  background: var(--grd);
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.grd-btn:hover {
  box-shadow: 0 3px 5px rgba(172, 82, 242, 0.5);
}
.white-btn {
  font-size: 1.5rem;
  color: var(--light-purple);
  background: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.white-btn:hover {
  box-shadow: 0 3px 5px rgba(172, 82, 242, 0.25);
}
.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.mainHeading {
  font-size: 2.25rem;
  color: var(--black);
  font-weight: 600;
  margin: 0 0 1.5rem 0;
}
.section {
  width: 100%;
  padding: 2.5rem 0;
  z-index: 10;
  position: relative;
}
.activeLink {
  font-weight: 600 !important;
  color: var(--light-purple) !important;
}
/* Header */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.headerContent img {
  height: 50%;
  object-fit: contain;
  margin: 0 2.5rem 0 0;
  cursor: pointer;
  position: absolute;
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5rem;
}
.headerMain {
  
}
.headerRight {
  text-align:center;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.headerRight a {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
}
.headerRight a:hover {
  color: var(--light-purple);
}
.headerRight > * {
  margin: 0 0 0 2.5rem;
}
.headerRight svg {
  font-size: 2.75rem;
  cursor: pointer;
  color: var(--light-purple);
}
.trans-btn {
  font-size: 1.65rem;
  color: var(--light-purple);
  padding: 0.85rem 2.25rem;
  border-radius: 0.5rem;
  transition: 0.75s;
  background: transparent;
  border: 1px solid var(--light-purple);
}
.body-bgc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) scale(2.5);
}
/* Roadmap */

.roadmap-content {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.road-map-line {
  width: 0.25rem;
  height: 100%;
  background: var(--dark-purple);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.roadmap-box-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.roadmap-box-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5rem 0;
}
.roadmap-box-content {
  width: 50%;
  display: flex;
  align-items: center;
}
.roadmap-text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--grd);
  padding: 2.5rem;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.75rem;
}
.roadmap-text-box p {
  margin: 0.65rem 0;
}
.roadmap-text-box h6 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
}
.roadmap-circle {
  min-width: 6.5rem;
  min-height: 6.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grd);
  font-size: 3rem;
  color: var(--white);
  font-weight: 600;
  position: relative;
  z-index: 100;
}
.roadmap-box-left .roadmap-circle {
  transform: translate(3.25rem, 0);
}
.roadmap-box-right .roadmap-circle {
  transform: translate(-3.25rem, 0);
}
.rotate {
  transform: rotate(180deg);
}
.mob-header {
  display: none;
}
.close-mob-header,
.open-mob-header {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: var(--light-purple) !important;
  /*   width: 2.5rem !important;
  border-radius: 10000px !important; */
}
.swiper-container {
  width: 100%;
}
.outline-btn {
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid var(--light-purple);
  outline: 0;
  padding: 0.5rem;
  color: var(--light-purple);
  border-radius: 1000px;
  background-color: transparent;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: var(--light-purple);
  color: var(--white);
}
.tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 1000px;
  color: var(--black);
  cursor: pointer;
  background-color: transparent;
  transition: 0.25s;
}
.tab-btn:hover {
  border-color: var(--light-purple);
}
.tab-btn.active-tab-btn {
  color: var(--light-purple);
  border-color: var(--light-purple);
}
.rotate {
  transform: rotate(-90deg);
}

/* Footer */
.footer {
  width: 100%;
  z-index: 10;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.85); */
}
.footerContent {
  width: 100%;
  margin: 2.5rem 0 0 0;
  padding: 2.5rem 0;
  border-top: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerLeft {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footerRight {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footerLeft a {
  font-size: 1.5rem;
  color: var(--black);
  margin: 0 1.5rem 0 0;
}
.footer a:hover {
  color: var(--light-purple);
}
.footerRight a {
  font-size: 1.75rem;
  display: flex;
  color: var(--black);
  margin: 0 0 0 1.35rem;
  color: var(--black);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  font-size: 1.35rem;
  color: var(--black);
}
.table th {
  font-weight: 600;
  /* background-color: rgba(173, 82, 242, 0.2); */
  background-color: rgba(0, 0, 0, 0.1);
}
.table tbody tr {
  cursor: pointer;
  transition: 0.15s;
}
.table tbody tr:hover {
  background-color: rgba(173, 82, 242, 0.1);
}
@media screen and (max-width: 1200px) {
  .headerRight > * {
    margin: 0 0 0 1.5rem;
  }
  .headerContent img {
    height: 45%;
  }

  .footer {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footerContent {
    margin: 2.5rem 0 0 0;
    padding: 1.5rem 0;
    border-top: 0px solid var(--black);
  }
}
@media screen and (max-width: 1000px) {
  .table td,
  .table th {
    padding: 1rem;
  }
  .headerRight a,
  .headerRight button {
    display: none;
  }
  .headerRightButton a,
  .headerRightButton button {
    display: none;
  }
  .section {
    padding: 1.5rem 0;
  }
  .grd-btn,
  .white-btn {
    font-size: 1.35rem;
    padding: 0.75rem 1.25rem;
  }
  .headerContent img {
    height: 40%;
  }
  .headerContent {
    height: 6.5rem;
  }
  .mainHeading {
    font-size: 2.25rem;
    margin: 0 0 2.5rem 0;
    text-align: center;
  }
  .close-mob-header {
    display: none;
  }
  .active-mob-header.header {
    background: var(--white) !important;
  }
  .mob-header {
    width: 100%;
    height: calc(100vh - 6.45rem);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    z-index: 1000;
    background: var(--grd);
    display: none;
  }
  .active-mob-header.header .mob-header {
    display: block;
  }
  .active-mob-header.header .open-mob-header {
    display: none;
  }
  .active-mob-header.header .close-mob-header {
    display: flex;
  }
  .mob-header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0;
  }
  .mob-header-content a {
    font-size: 1.65rem;
    margin: 0 0 2.5rem 0;
    color: var(--white);
  }
  .mob-header-content > * {
    margin: 0 0 2.5rem 0;
  }
  .mob-header-content button {
    width: 100%;
  }
  .open-mob-header {
    display: flex;
  }
  .footerContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2.5rem;
  }
  .footerLeft {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerRight {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerLeft a {
    margin: 0 0 1.5rem 0;
  }
  .footerRight a {
    margin: 0 0 1.5rem 0;
  }
  .tab-btn {
    margin: 0 1rem 1rem 0;
    padding: 0.35rem 1.5rem;
    font-size: 1.35rem;
  }
}


.web3modal-modal-lightbox {
  z-index:1000 !important;
}